
#beersupply-container .error
{
    color: #ef1d1d;
}

#beer-view-container {
    margin: 15px;
    position: relative;
    text-align: center;
}

.beerWrapper {
    width: 700px;
    margin:0 auto;
}

#beer-view-aligner
{
    margin: 0 auto;
    width:256px;
    position: relative;
}

#beer-view-frame {
    background: url(images/slide-frame.png) no-repeat;
    position: absolute;
    z-index:0;
    width:299px;
    height:300px;
    top:-21px;
    left:-22px;
}

.beerTable
{
    width:700px;
}
.beerDetails {
    width:300px;
}

.commentDetails {
    margin-top: 35px;
}

.beerDetails .beerName{
    font-weight: bold;
    color: #686868;
    margin-bottom: 15px;
}

.beerDetails .ratings{
    width: 330px;
    padding:5px;
    margin-bottom: 50px;
}

.beerDetails .ratingContainer {
    width:165px;
    float: left;
}

.beerDetails .beerDescription {
    color: #686868;
    font-size: .9em;
    width:400px;
    height:200px;
    overflow: auto;
    text-align: left;
}

.beerDetails .fieldLabel {
    width:100px;
    color: #686868;
    margin-bottom: 5px;
    font-size: .9em;
    text-align: left;
}

.beerDetails .comments {
    width:256px;
    height:70px;
    background: #ffffff;
    border: #d7d7d7 solid 1px;
    padding:3px;

}

.beerDetails .comments .comment {
    width:256px;
    height:70px;
    background: #ffffff;
    text-align:left;
    color: #4e4e4e;

}

.beerDetails .comments .comment a {
    color: #326CA6;
    font-weight: bold;
    font-size: 1em

}

.beerDetails .commentForm {
    margin-top: 5px;
    width:260px;
    height:50px;
}

.brewery-db-search-field {
    width:300px;
}

.brewery-db-search-panel {
    border-bottom: 1px solid #DDD;
    padding-bottom:10px;
    margin-bottom: 10px !important;
}

.brewery-db-search-throbber {
    background: url(images/ajax-loader.gif) no-repeat;
    height:370px;
    background-position: center;
}

.beer-row:hover {
    background-color: #E0AB42;
    color:#ffffff;
    cursor: pointer;
}
